# Dependency directories
node_modules/

#environment variables
.env

# Logs
logs
*.log
npm-debug.log*
.env*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
